.navbar {
  width: 100%;
  background-color: transparent;
  left: 0px;
  top: 0px;
}
  
.container {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  word-wrap: normal;
  position: fixed;
}
  
.container ul li {
  list-style: none;
}
  
.container li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  margin: 10px;
  list-style: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  position: scroll;
}
  
.container a {
  text-decoration: none;
  color: white;
}
  
.container li a:hover {
  border-bottom: 3px solid #ffffff;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

body {
  background: url("Images/images1.jpg") center;
  background-repeat:no-repeat;
  background-size: 1380px 888px;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.content{
  padding: 90px 0;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  color:#F45B69;
}

.social{
  align-items: center;
  text-align: center;
  color: #F45B69;
  font-weight: bold;
  font-size: 30px;
}

.button{
  text-align: center;
}